* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f5f5f5;
}
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    text-align: center;
}
.hero button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #ff7f50;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.slider-section {
    padding: 50px 0;
    
}

.swiper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.swiper-slide img {
    width: 100%;
    border-radius: 10px;
}

.about {
    padding: 50px 20px;
    text-align: center;
}

.about .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.gallery {
    padding: 50px 20px;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
